<h1>Questions</h1>
<%= render 'new', locals: {question: @question} %>
<ul class="questions-list">
  <% @questions.each do |q| %>
    <li><%= link_to q.title, question_path(q) %></li>
    <p>Vote Count: <%= q.vote_count %></p>
    <p>Number of answers: <%= q.answers.count %></p>
    <p>Number of comments: <%= q.comments.count %></p>
  <% end %>
</ul>
<%= link_to 'Create New Question', new_question_path %>
