<h1><%= @question.title %></h1>
<h3><%= @question.body %></h3>
<ul>
  <% @question.comments.each do |c| %>
    <li><%= c.body %></li>
    <p><%= c.vote_count %></p>
  <% end %>
</ul>

<ul>
  <% @question.answers.order(vote_count: :desc).each do |a| %>
    <li>Answer: <%= a.body %></li>
    <p>Vote Count: <%= a.vote_count %></p>
    <ul>
      <% a.comments.order(vote_count: :desc).each do |c| %>
        <li>Comment Body: <%= c.body %></li>
        <p>Vote Count: <%= c.vote_count %></p>
      <% end %>
    </ul>
  <% end %>
</ul>
