<h1><%= @question.title %></h1>
<h3><%= @question.body %></h3>
<ul>
  <% @question.comments.each do |c| %>
    <li>Body Comment: <%= c.body %></li>
  <% end %>
</ul>

<ul>
  <% @question.answers.each do |a| %>
    <li>Answer: <%= a.body %></li>
    
    <ul>
      <% a.comments.each do |c| %>
        <li>Comment Body: <%= c.body %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
