<br><br>
<p><%= @question.body %></p>
<hr>
<h4>Question Comments <%= link_to "New Comment", new_question_comment_path(@question), class:"btn btn-xs btn-success" %></h4>
<% @question.comments.each do |c| %>
  <div class="block_tan">
    <%= c.body %>
  </div>
<% end %>
<hr>
<h4>Question Answers <%= link_to "New Answer", new_question_answer_path(@question), class:"btn btn-xs btn-success" %></h4>
<% @question.answers.each do |a| %>
  <div id="<%=a.id%>" class="block_tan">
    <%= a.body %>
    <br>
    <%= form_tag(answer_path(a), method: "delete", remote: true) do %>
      <input type="hidden" value = "<%=@question.id%>" name = "question_id">
      <input type="hidden" value = "<%=a.id%>" name = "a_id">
      <%= submit_tag("Delete", class:"btn btn-xs btn-danger") %>
      <%= link_to "New Comment", new_answer_comment_path(a), class:"btn btn-xs btn-success" %>
    <% end %>
    <h5>Comments</h5>
    <hr>
    <% a.comments.each do |c| %>
      <div><%= c.body %></div>
    <% end %>
  </div>
<% end %>
</ul>
